body {
    font-family: 'Arial', sans-serif;
    margin: 1.25rem auto;
    padding: 0;
    background-color: #292b2c;
    color: #fff;
}

img {
    height: 20rem;
    width: auto;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 1.25rem;
}

a {
    color: #66b2ff;
    text-decoration: none;
    margin-right: 0.95rem;
}

a:hover {
    color: #4d94ff;
    cursor: pointer;
}

p {
    color: #66b2ff;
}

.form {
    background-color: #333;
    color: #fff;
    margin: 1.25rem 2rem;
    padding: 0.94rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.63rem rgba(0, 0, 0, 0.2);
}

select, input {
    padding: 0.5rem;
}

.form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.63rem;
    cursor: pointer;
    border-radius: 0.3rem;
}

.form button:hover {
    background-color: #0056b3;
}

.table {
    margin: 1.25rem 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;
    background-color: #333;
    color: #fff;
    border-radius: 0.3rem;
}

.table img {
    height: 10rem;
    width: auto;
}

th, td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 0.06rem solid #555;
}

th {
    background-color: #007BFF;
    color: white;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #333;
    padding: 0.94rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.63rem rgba(0, 0, 0, 0.2);
    margin: 1.25rem 2rem;
}

.menu a {
    color: #66b2ff;
    text-decoration: none;
}

.menu a:hover {
    color: #4d94ff;
}

#square {
    border: 1px solid black;
    background: #4d94ff;
    height: 10px;
    width: 10px;
    position: relative;
}

#clock, #countdown{
    font-family: monospace;
    font-size: 3rem;
    font-weight: bold;
}

.addToListPopUp {
    position: fixed;
    display: block;
    top: 10rem;
    bottom: 10rem;
    z-index: -1;
    opacity: 0;
    background-color: #333333;
    margin-inline: 30rem;
    width: 40%;
    height: 20rem;
    border: 1px solid #292b2c;
    border-radius: 0.3rem;
}

.addToListPopUp h2 {
    text-align: center;
}

.addToListPopUp.open {
    opacity: 1;
    z-index: 999;
}

.addToListContent {
    display: flex;
    flex-direction: row;
}

.addToListContent select {
    padding: 0.5rem;
}

.addToListContent button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.63rem;
    cursor: pointer;
    border-radius: 0.3rem;
}

.addToListImage img {
    margin-inline: 2rem;
    height: 15rem;
    width: auto;
}

.addToListPopUp #cancel {
    background-color: #e9e9ed;
    color: black;
}

#empty {
    color: #fff;
    margin-block: 10rem;
    font-size: 2rem;
    text-align: center;
}

#inputs {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 37.5rem) {
    table {
        font-size: 0.88rem;
    }
}
