<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${actor.name}"></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1><a href="/">Dolan's Media Database</a></h1>

<div th:include="fragments :: menu" class="menu"></div>

<div class="info" style="display: flex;">
    <div style="margin: .5rem">
        <img th:src="|/img/actors/${actor.imageSource}.jpg|" th:alt="|${actor.name}|">
    </div>
    <div>
        <h2 th:text="${actor.name}" style="text-align: center; padding-block: .5rem"></h2>
    </div>
</div>

<div class="table">
    <table>
        <tr>
            <th></th>
            <th>TITLE</th>
            <th>YEAR</th>
            <th>TYPE</th>
            <th>ROLE</th>
        </tr>
        <tr th:each="role : ${actor.roles}" th:object="${role}">
            <td>
                <img th:src="|/img/medias/*{media.imageSource}.jpg|" th:alt="|*{media.title} img|">
            </td>
            <td>
                <a th:href="|/medias/*{media.id}|" th:text="*{media.title}"></a>
            </td>
            <td th:text="*{media.releaseYear}"></td>
            <td th:text="*{#strings.replace(media.mediaType.toString(), '_', ' ')}"></td>
            <td th:text="*{roleType}"></td>
        </tr>
    </table>
</div>

</body>
</html>