<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>DMDB</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1><a href="/">Dolan's Media Database</a></h1>

<div class="form">
    <form th:method="post" th:action="|/media/create|">
        <label>
            Title:
            <input name="title" type="text" required>
        </label>
        <label>
            <select name="mediaType">
                <option th:each="type : ${mediaTypeOptions}" th:text="${type}"></option>
            </select>
        </label>
        <label>
            <select name="countryOfOrigin">
                <option th:each="country : ${countryOfOriginOptions}" th:text="${country}"></option>
            </select>
        </label>
        <label>
            <select name="releaseYear">
                <script>
                    let currentYear = new Date().getFullYear();
                    for (let year = currentYear; year >= 1930; year--) {
                        document.write(`<option value='${year}'>${year}</option>`);
                    }
                </script>
            </select>
        </label>
        <button>submit</button>
    </form>
</div>

<div th:if="${medias}" class="table">
    <table>
        <tr>
            <th></th>
            <th>TITLE</th>
            <th>YEAR</th>
            <th>COUNTRY OF ORIGIN</th>
            <th>TYPE</th>
            <th>GENRES</th>
            <th></th>
        </tr>
        <tr th:each="media : ${medias}" th:object="${media}">
            <td>
                <img th:src="|/img/medias/*{imageSource}.jpg|" th:alt="|*{title} img|">
            </td>
            <td>
                <a th:href="|/medias/*{id}|" th:text="*{title}"></a>
            </td>
            <td>
                <a th:href="|/medias/filterYear/*{releaseYear}|" th:text="*{releaseYear}"></a>
            </td>
            <td>
                <ul>
                    <li th:each="country : *{countriesOfOrigin}">
                        <a th:href="|/medias/filterCountry/${country}|"
                           th:text="${country}"></a>
                    </li>
                </ul>
            </td>
            <td>
                <a th:href="|/medias/filterType/*{mediaType}|" th:text="*{mediaType}"></a>
            </td>
            <td>
                <ul>
                    <li th:each="genre : *{genres}">
                        <a th:href="|/medias/filterGenre/${genre}|"
                           th:text="${#strings.replace(genre.toString(), '_', ' ')}"></a>
                    </li>
                </ul>
            </td>
            <td>
                <p th:if="${myEntries.contains(media.id)}">On List</p>
                <a th:unless="${myEntries.contains(media.id)}" th:data-media-id="*{id}" onclick="openForm(this)">Add to list</a>
            </td>
        </tr>
    </table>
</div>

<div class="windowForm" id="windowForm">
    <div class="inner-window"></div>
        <h2>Add to list</h2>
        <form th:method="post" th:action="|/entry/add|" id="addToList">
            <label>
                <select name="status">
                    <option th:each="status : ${statusOptions}"
                            th:text="${#strings.replace(status.toString(), '_', ' ')}"></option>
                </select>
            </label>
            <label>
                input
            </label>
            <button>Add</button>
            <button type="button" onclick="closeForm()">Cancel</button>
        </form>
</div>
<script>
    const windowForm = document.querySelector(".windowForm")
    const form = document.querySelector("#addToList");
    function openForm(anchor) {
        let mediaId = anchor.getAttribute("data-media-id");
        let input = document.createElement("input");

        input.type = "hidden";
        input.name = "mediaId";
        input.value = mediaId;

        windowForm.classList.add("open")
        form.appendChild(input)
    }

    function closeForm() {
        let hiddenInput = form.querySelector('input[name="mediaId"]');

        if (hiddenInput) {
            form.removeChild(hiddenInput);
        }

        windowForm.classList.remove("open")
    }
</script>
</body>
</html>