<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>DMDB</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1><a href="/">Dolan's Media Database</a></h1>

<div th:include="fragments :: menu" class="menu"></div>

<div class="form">
    <form id="form" th:method="post" th:action="|/medias/create|">
        <label>
            <input name="title" type="text" required placeholder="TITLE:">
        </label>
        <label>
            <select name="mediaType">
                <option selected disabled>TYPE</option>
                <option th:each="type : ${mediaTypeOptions}" th:value="${type}"
                        th:text="${#strings.replace(type.toString(), '_', ' ')}"></option>
            </select>
        </label>
        <label>
            <select name="releaseYear">
                <option selected disabled>YEAR</option>
                <script>
                    let currentYear = new Date().getFullYear();
                    for (let year = currentYear; year >= 1930; year--) {
                        document.write(`<option value='${year}'>${year}</option>`);
                    }
                </script>
            </select>
        </label>
        <label>
            <input type="number" name="episodes" required placeholder="# of episodes" min="1" inputmode="numeric">
        </label>
        <label id="countryLabel">
            <select name="countriesOfOrigin">
                <option selected disabled>COUNTRY OF ORIGIN</option>
                <option th:each="country : ${countryOfOriginOptions}" th:text="${country}"></option>
            </select>
        </label>
        <a id="addCountry" onclick="addCountry(this)">+</a>
        <label id="genreLabel">
            <select name="genres">
                <option selected disabled>GENRE</option>
                <option th:each="genre : ${genreOption}"
                        th:text="${#strings.replace(genre.toString(), '_', ' ')}"></option>
            </select>
        </label>
        <a id="addGenre" onclick="addCountry(this)">+</a>
        <button>SUBMIT</button>
    </form>
</div>

<div th:if="${medias}" class="table">
    <table>
        <tr>
            <th></th>
            <th>TITLE</th>
            <th>SCORE</th>
            <th>TYPE</th>
            <th>YEAR</th>
            <th>EPISODES</th>
            <th>COUNTRY/IES OF ORIGIN</th>
            <th>GENRES</th>
            <th></th>
        </tr>
        <tr th:each="media : ${medias}" th:object="${media}">
            <td>
                <img th:src="|/img/medias/*{imageSource}.jpg|" th:alt="*{title}">
            </td>
            <td>
                <a th:href="|/medias/*{id}|" th:text="*{title}"></a>
            </td>
            <td>
                <p th:unless="*{getRating() == -1.0}" th:text="|&#11088; *{getRating()}|"></p>
                <p th:if="*{getRating() == -1.0}">TBA</p>
            </td>
            <td>
                <a th:href="|/medias/filterType/*{mediaType}|"
                   th:text="*{#strings.replace(mediaType.toString(), '_', ' ')}"></a>
            </td>
            <td>
                <a th:href="|/medias/filterYear/*{releaseYear}|" th:text="*{releaseYear}"></a>
            </td>
            <td>
                <p th:text="*{episodes}"></p>
            </td>
            <td>
                <ul>
                    <li th:each="country : *{countriesOfOrigin}">
                        <a th:href="|/medias/filterCountry/${country}|"
                           th:text="${country}"></a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li th:each="genre : *{genres}">
                        <a th:href="|/medias/filterGenre/${genre}|"
                           th:text="${#strings.replace(genre.toString(), '_', ' ')}"></a>
                    </li>
                </ul>
            </td>
            <td>
                <p th:if="${myEntries.contains(media.id)}">✓ On List</p>
                <a th:unless="${myEntries.contains(media.id)}" th:data-media-id="*{id}"
                   th:data-image-source="*{imageSource}" onclick="openForm(this)">+ Add
                    to list</a>
            </td>
        </tr>
    </table>
</div>

<div class="addToListPopUp" id="addToListPopUp">
    <h2>Add to list</h2>
    <div class="addToListContent">
        <div class="addToListImage">
        </div>

        <div class="addToListForm">
            <form th:method="post" th:action="|/entry/add|" id="addToListForm">
                <div class="inputs">
                    <label>
                        <select name="status">
                            <option th:each="status : ${statusOptions}" th:value="${status}"
                                    th:text="${#strings.replace(status.toString(), '_', ' ')}">
                            </option>
                        </select>
                    </label>
                    <label>
                        <input type="range" step="0.5" max="10" value="0" name="rating">
                    </label>
                </div>

                <div class="buttons">
                    <button>Add</button>
                    <button type="button" onclick="closeForm()" id="cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const windowForm = document.querySelector(".addToListPopUp")
    const form = document.querySelector("#addToListForm");
    const imageDiv = document.querySelector(".addToListImage")
    let countryCounter = 0;
    let genreCounter = 0;

    function openForm(anchor) {
        let mediaId = anchor.getAttribute("data-media-id");
        let input = document.createElement("input");
        let imageSource = anchor.getAttribute("data-image-source")
        let image = document.createElement("img");

        input.type = "hidden";
        input.name = "mediaId";
        input.value = mediaId;

        image.src = "/img/medias/" + imageSource + ".jpg";
        image.alt = "Media art";

        windowForm.classList.add("open");
        form.appendChild(input);
        imageDiv.appendChild(image);
    }

    function closeForm() {
        let inputToRemove = form.querySelector('input[name="mediaId"]');
        let imageToRemove = imageDiv.querySelector('img');

        if (inputToRemove) {
            form.removeChild(inputToRemove);
            imageDiv.removeChild(imageToRemove);
        }

        windowForm.classList.remove("open")
    }

    function addCountry(e) {
        const form = document.querySelector("#form");
        let original, addButton, maxCount;

        if (e.id === "addCountry") {
            original = document.querySelector("#countryLabel");
            addButton = document.querySelector("#addCountry");
            maxCount = 1;
            countryCounter++;
        } else {
            original = document.querySelector("#genreLabel");
            addButton = document.querySelector("#addGenre");
            maxCount = 3;
            genreCounter++;
        }

        if ((e.id === "addCountry" && countryCounter <= maxCount) || (e.id === "addGenre" && genreCounter <= maxCount)) {
            let copy = original.cloneNode(true);
            form.insertBefore(copy, addButton);

            if (countryCounter == maxCount || genreCounter == maxCount) {
                addButton.remove();
            }
        }
    }
</script>
</body>
</html>