<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<a th:href="|/register|">Sign Up</a>
<p th:if="${param.error}">Invalid username or password.</p>
<p th:if="${param.logout}">You have been logged out.</p>

<form method="post" th:action="|/login|">
    <label>
        <input type="text" name="username">
    </label>
    <label>
        <input type="password" name="password">
    </label>
    <button>Log In</button>
</form>
</body>
</html>