<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>DMDB</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1><a href="/">My List</a></h1>

<div class="menu">
<a th:href="|/|">My list</a>
<a th:href="|/medias|">Database</a>
<a th:href="|/entries/random|">I don't know what to watch</a>
</div>

<div th:if="${entries}" class="table">
    <table>
        <tr>
            <th></th>
            <th>TITLE</th>
            <th>YEAR</th>
            <th>COUNTRY OF ORIGIN</th>
            <th>TYPE</th>
            <th>GENRE</th>
            <th>STATUS</th>
        </tr>
        <tr th:each="entry : ${entries}" th:object="${entry}">
            <td>
                <img th:src="|/img/medias/*{media.imageSource}.jpg|" th:alt="|*{media.title} img|">
            </td>
            <td>
                <a th:href="|/medias/*{media.id}|" th:text="*{media.title}"></a>
            </td>
            <td>
                <a th:href="|/entries/filterYear/*{media.releaseYear}|" th:text="*{media.releaseYear}"></a>
            </td>
            <td>
                <ul>
                    <li th:each="country : *{media.countriesOfOrigin}">
                        <a th:href="|/entries/filterCountry/${country}|"
                           th:text="${country}"></a>
                    </li>
                </ul>
            </td>
            <td>
                <a th:href="|/entries/filterType/*{media.mediaType}|" th:text="*{media.mediaType}"></a>
            </td>
            <td>
                <ul>
                    <li th:each="genre : *{media.genres}">
                        <a th:href="|/medias/filterGenre/${genre}|"
                           th:text="${#strings.replace(genre.toString(), '_', ' ')}"></a>
                    </li>
                </ul>
            </td>
            <td>
                <a th:href="|/entries/filterStatus/*{status}|" th:text="*{#strings.replace(status.toString(), '_', ' ')}"></a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>