<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1 id="title">ToDoZlaticko</h1>
<p id="p1"></p>

<label id="greet" for="inputText">Write your last name:</label>
<input type="text" id="inputText">
<button type="submit" id="formButton">submit</button>
<br>

<label for="sideA"></label>
<input id="sideA">
<label for="sideB"></label>
<input id="sideB">
<label for="sideC"></label>
<input id="sideC">
<button type="submit" id="cuboidButton">submit</button>

<p id="surface"></p>
<p id="volume"></p>

<div id="square"></div>

<div id="clock">00:00:00</div>
<div id="countdown">00:00:00</div>

<script src="/index.js"></script>
</body>
</html>